#badge-display {
  display: inline-block;
  float: right;
  padding: 2px;
  color: white;
  font-size: 12px;
}

#badge-display .badge-count {
  display: inline-block;
  padding-left: 4px;
  padding-top: 3px;
  min-width: 20px;
}

#badge-display img.badge {
  width: 20px;
  height: 20px;
  float: left;
}

.achievement-wrapper {
  z-index: 100000;
  position: fixed;
  left: 0px;
  top: 50%;
  bottom: 0px;
  right: 0px;
  display: none;
  pointer-events: none;
}

.achievement {
  height: 120px;
  width: 400px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.85);
  padding: 10px;
  color: white;
  text-transform: uppercase;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
   box-sizing:        border-box;
}

.achievement img.badge {
  float: left;
  padding-right: 10px;
}

.achievement h3 {
  padding-top: 10px;
  font-size: 10px;
}

.achievement .name {
  color: lightgreen;
  font-weight: bold;
  font-size: 30px;
}
