header.section-editor {
  height: 250px;
}

section#editor {
  top: 250px;
}

#instructions {
  position: absolute;
  top: 65px;
  width: 100%;
  height: 185px;
  overflow: hidden;
  background: #e0e0e0;
}

#instructions ul#chapters {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background: #0050cf;
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
}

#instructions ul#chapters li {
  display: inline-block;
  padding: 6px 4px 6px 4px;
  text-transform: uppercase;
  cursor: pointer;
}

#instructions ul#chapters li.active {
  color: white;
  cursor: default;
}

#instructions ul#chapters li.active:hover {
  color: white;
}

#instructions ul#chapters li.active:hover div.completion {
  background: white;
}

#instructions ul#chapters li:hover {
  color: rgba(255, 255, 255, 0.75);
}

#instructions ul#chapters li:hover div.completion {
  background: rgba(255, 255, 255, 0.75);
}

#instructions ul#chapters li div.completion {
  display: inline-block;
  font-size: smaller;
  color: #0050cf;
  background: rgba(255, 255, 255, 0.5);
  width: 4em;
  text-align: center;
  margin-right: 4px;
}

#instructions ul#chapters li.active div.completion {
  background: white;
}

.spotlight {
  position: absolute;
  border: 1px solid #ffff66;
  background-color: rgba(255, 255, 102, 0.5);
  box-shadow: 0 0 10px #ffff66;
  z-index: 30000;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
   box-sizing:        border-box;
  -moz-transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  opacity: 0;
  pointer-events: none;
}

.spotlight.visible {
  opacity: 1;
}

.tutorial-movie {
  display: none;
}

.tutorial-movie.active {
  display: block;
}

.tutorial-movie .editor {
  display: inline-block;
  vertical-align: bottom;
  width: 50%;
  height: 100px;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
   box-sizing:        border-box;
}

.tutorial-movie .preview {
  display: inline-block;
  vertical-align: bottom;
  width: 50%;
  height: 100px;
  border: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
   box-sizing:        border-box;
}

.tutorial-movie .CodeMirror {
  width: 100%;
  height: 100%;
}

.tutorial-movie .dialogue {
  font-family: Baskerville, Georgia;
  font-size: 25px;
  color: black;
  padding: 10px;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  opacity: 0;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
   box-sizing:        border-box;
}

.tutorial-movie .dialogue.visible {
  opacity: 1;
}

.tutorial-movie .dialogue code {
  font-family: "MenschRegular", monospace;
  font-size: smaller;
}

.tutorial-movie .dialogue code.tag {
  color: #881280;
}

.tutorial-movie .player {
  font-family: Monaco, "Lucida Console", monospace;
  font-size: 10px;
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.75);
  padding: 4px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  border-top: 1px solid gray;
  z-index: 20000;
}

.tutorial-movie .player svg.button {
  width: 14px;
  height: 14px;
  vertical-align: bottom;
  fill: white;
}

.tutorial-movie .player .scrubber {
  width: 90%;
}

.tutorial-movie .player .timestamp {
  padding-left: 4px;
  min-width: 40px;
}

.tutorial-movie .player .scrubber .progress {
  background: rgba(255, 255, 255, 0.8);
  min-height: 10px;
  vertical-align: middle;
}

.tutorial-movie .player div {
  display: inline-block;
}

.achievement-wrapper {
  z-index: 100000;
  position: fixed;
  left: 0px;
  top: 50%;
  bottom: 0px;
  right: 0px;
  display: none;
  pointer-events: none;
}

.achievement {
  height: 120px;
  width: 400px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.85);
  padding: 10px;
  color: white;
  text-transform: uppercase;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
   box-sizing:        border-box;
}

.achievement img.badge {
  float: left;
  padding-right: 10px;
}

.achievement h3 {
  padding-top: 10px;
  font-size: 10px;
}

.achievement .name {
  color: lightgreen;
  font-weight: bold;
  font-size: 30px;
}
